h1 {
  text-align: center;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* 表示領域の高さに応じて調整 */
  font-size: 2.0rem; /* 文字サイズ大きめ */
  text-align: center;
  margin: auto;
}
